

{% layout './layouts/layout.liquid', title: 'Huis te koop:' %}


{% block head %}
  <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block %}

{% render './partials/header.liquid' %}

<form action="/house/{{ house.id }}/like" method="POST" data-enhanced="form-{{ id }}">
  <button type="submit">
    {% if liked %}
      <img class="like-button" src="/assets/red-heart-icon.svg" alt="unlike button" height="16">
    {% else %}
      <img class="like-button" src="/assets/heart (1).svg" alt="like button" height="22">
    {% endif %}
  </button>
</form>

<ul class="slider">
  <li data-label="hubje 1">
    {% for item in house.gallery limit: 5 %}
      <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}?format=avif" type="image/avif">
        <img src="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}" alt="foto's huis 1" width="500" loading="eager">
      </picture>
    {% endfor %}
  </li>

  <li data-label="hubje 2">
    {% for item in house.gallery limit: 5 %}
      <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}?format=avif" type="image/avif">
        <img src="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}" alt="foto's huis 2" width="500" loading="lazy">
      </picture>
    {% endfor %}
  </li>

  <li data-label="hubje 3">
    {% for item in house.gallery %}
      <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}?format=avif" type="image/avif">
        <img src="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}" alt="foto's huis 3" width="500" loading="lazy">
      </picture>
    {% endfor %}
  </li>
</ul>

<main>

  <section class="house-info">
    <h1>{{ house.street }} {{ house.house_nr }}</h1>
    <p> {{ house.postal_code }} {{ house.city }}</p>
    <ul class="house-info-list">
      <li><img src="/assets/i-con.svg" alt="icoon woonoppervlak" height="16">{{ house.m2 }} m² wonen</li> 
      <li><img src="/assets/icon-tuin-2.svg" alt="icoon tuin" height="16">{{ house.m2_garden }} m² tuin</li> 
      <li><img src="/assets/icon-slaapkamers.svg" alt="icoon slaapkamer" height="16">{{ house.rooms }} slaapkamer(s)</li>
    </ul>
      <p class="house-info-prijs">  € {{ house.price }} k.k. <a href=""> <span margin-left:0.5em; style="color:var(--primary-color-funda-5)"> <img src="/assets/calculator.svg" alt="icoon calculator" height="22"> Wat worden mijn maandlasten? </span></p></a>
  </section>

  <section class="description">
      <h2>Omschrijving</h2>
      <p>{{ house.description | raw }}</p>
  </section>

  <aside>
    <p>Advertentie</p>
  </aside>


  <section>
    <h2>Kenmerken</h2>
  </section>

  
  <section>
    <h2>Buurt</h2>
  </section>

  <section>
    <h2>Vergelijkbaar in de buurt</h2>
  </section>

  <section class="faq">

    <h2>Antwoord op al je belangrijke vragen</h2>


		<details id="d1">	
			<summary> Hoe vind ik makkelijker en sneller huizen die aan mijn wensen voldoen? </summary>
			<p>Als je als een expert wilt zoeken op funda, zijn er een aantal handige tips die je kunnen helpen om precies te vinden wat je zoekt. Leer hoe je zoekfilters optimaal kunt gebruiken, hoe je nieuwe huizen als eerste ziet en nog veel meer. </p>
		</details>

		<details id="d2">	
			<summary> Wat betekent 'onder bod' als je een huis wilt kopen? </summary>
			<p>Wanneer een huis 'onder bod' is, kan dat verwarrend zijn. Dit betekent dat er al een bod is uitgebracht dat de verkoper overweegt. Het betekent echter niet dat de verkoop al rond is.</p>
		</details>
		
		<details id="d3">	
			<summary>Waarop moet je letten bij het bezichtigen van een huis?</summary>
			<p>Stel tijdens een bezichtiging alle vragen die je hebt om te kunnen bepalen of dit huis aan je wensen en verwachtingen voldoet. Bijvoorbeeld waarom de verkopers willen verkopen. Wat voor buren je krijgt. Of wanneer de cv-ketel voor het laatst vervangen is. Het is handig om een lijstje met vragen voor te bereiden, zodat je niets vergeet. Deze checklist helpt je op weg, zodat je niets vergeet. </p>
		</details>

    <details id="d4">	
			<summary>Voorbeeldbrief voor een bod op een huis: hoe doe ik dit?</summary>
			<p>Een bod uitbrengen op een huis is een grote stap en het kan helpen om een goed voorbeeld te hebben van hoe je dat het beste kunt doen. Een duidelijke en goed gestructureerde brief kan het verschil maken. </p>
		</details>
  </section>


</main>

<footer>
  <ul class="footer-list">
    <li>
      <p>Snel naar</p>
      <p>Verkoop je huis op Funda</p>
      <p>Check je woningwaarde</p>
      <p>Zoek een NVM-makelaar</p>
      <p>Volg de woningmarkt: Funda Index</p>
      <p>Vraag & antwoord</p>
    </li>

    <li>
      <p>Inzichten & inspiratie</p>
      <p>Inloggen Mijn Huis</p>
      <p>Alles over een huis kopen</p>
      <p>Alles over een huis verkopen</p>
      <p>Alles over je huis aanpakken</p>
      <p>Tips voor zoeken op Funda</p>
      <p>Nieuwe features op Funda</p>
    </li>

    <li>
      <p>Voor makelaars</p>
      <p>Meld je aan bij Funda</p>
      <p>Plaats en promoot objecten</p>
      <p>Promoot je kantoor</p>
      <p>Verbreed je kennis</p>
      <p>Inloggen Funda desk</p>
    </li>

    <li>
      <p>Meer Funda</p>
      <p>Over Funda</p>
      <p>Werken bij Funda</p>
      <p>Voor adverteerders</p>
      <p>Redactioneel beleid</p>
      <p>Contact</p>
    </li>
  </ul>

</footer>

<script type="module">
if ('fetch' in window && 'DOMParser' in window) {
  document.addEventListener('submit', async function(event) {
    const form = event.target;

    if (!form.hasAttribute('data-enhanced')) return;
    event.preventDefault();

    const heartIcon = form.querySelector('.like-button');

    if (heartIcon) heartIcon.classList.add('loading');

    const response = await fetch(form.action, {
      method: form.method,
    });

    const responseText = await response.text();
    const parser = new DOMParser();
    const responseDOM = parser.parseFromString(responseText, 'text/html');

    const newState = responseDOM.querySelector('[data-enhanced="' + form.getAttribute('data-enhanced') + '"]');

    if (heartIcon) heartIcon.classList.remove('loading');

    // form.outerHTML = newState.outerHTML;

    if (heartIcon) heartIcon.classList.add('succes');

    setTimeout(() => {
    form.outerHTML = newState.outerHTML;
    }, 600);
  });
}
</script>



{% endblock %}

