

{% layout './layouts/layout.liquid', title: 'Huis te koop:' %}


{% block head %}
  <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block %}

{% render './partials/header.liquid' %}

<form action="/house/{{ house.id }}/like" method="POST" data-enhanced="form-{{ id }}">
  <button type="submit">
    {% if liked %}
      <img class="like-button" src="/assets/red-heart-icon.svg" height="22">
    {% else %}
      <img class="like-button" src="/assets/heart-thin-icon.svg" height="22">
    {% endif %}
  </button>
</form>

<ul class="slider">
  <li data-label="hubje 1">
    {% for item in house.gallery limit: 5 %}
      <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}?format=avif" type="image/avif">
        <img src="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}" width="500" loading="eager">
      </picture>
    {% endfor %}
  </li>

  <li data-label="hubje 2">
    {% for item in house.gallery limit: 5 %}
      <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}?format=avif" type="image/avif">
        <img src="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}" width="500" loading="lazy">
      </picture>
    {% endfor %}
  </li>

  <li data-label="hubje 3">
    {% for item in house.gallery %}
      <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}?format=avif" type="image/avif">
        <img src="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}" width="500" loading="lazy">
      </picture>
    {% endfor %}
  </li>
</ul>

<section class="huis-info">
  <h1>{{ house.street }} {{ house.house_nr }}</h1>
  <p> {{ house.postal_code }} {{ house.city }}</p>
  <p>{{ house.m2 }} wonen {{ house.m2garden }} tuin {{ house.rooms }} slaapkamers</p>
  <p> € {{ house.price }} k.k. </p>


  <h2>Omschrijving</h2>
  <p>{{ house.description | raw }}</p>
</section>



<script type="module">
if ('fetch' in window && 'DOMParser' in window) {
  document.addEventListener('submit', async function(event) {
    const form = event.target;

    if (!form.hasAttribute('data-enhanced')) return;
    event.preventDefault();

    const heartIcon = form.querySelector('.like-button');

    if (heartIcon) heartIcon.classList.add('loading');

    const response = await fetch(form.action, {
      method: form.method,
    });

    const responseText = await response.text();
    const parser = new DOMParser();
    const responseDOM = parser.parseFromString(responseText, 'text/html');

    const newState = responseDOM.querySelector('[data-enhanced="' + form.getAttribute('data-enhanced') + '"]');

    if (heartIcon) heartIcon.classList.remove('loading');

    // form.outerHTML = newState.outerHTML;

    if (heartIcon) heartIcon.classList.add('succes');

    setTimeout(() => {
    form.outerHTML = newState.outerHTML;
    }, 600);
  });
}
</script>



{% endblock %}

