

{% layout './layouts/layout.liquid', title: 'Huis te koop:' %}


{% block head %}
  <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block %}

{% render './partials/header.liquid' %}

<form action="/house/{{ house.id }}/like" method="POST">
  <button type="submit">
    {% if liked %}
      ❤️
    {% else %}
      🤍
    {% endif %}
  </button>
</form>

<ul class="slider">
  <li data-label="hubje 1">
    
    {% comment %} {% if house.poster_image %}
      <img src="https://fdnd-agency.directus.app/assets/{{ house.poster_image.id }}" alt="Afbeelding van het huis" width="350" height="350">
    {% endif %} {% endcomment %}

    {% for item in house.gallery limit: 5 %}
    <img src="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}" width="500">
    {% endfor %}

  </li>

  <li data-label="hubje 2">
    
    {% comment %} {% if house.poster_image %}
      <img src="https://fdnd-agency.directus.app/assets/{{ house.poster_image.id }}" alt="Afbeelding van het huis" width="350" height="350">
    {% endif %} {% endcomment %}
      
    {% for item in house.gallery limit: 5 %}
    <img src="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}" width="450">
    {% endfor %}

  </li>


  <li data-label="hubje 3">
    
  {% comment %} {% if house.poster_image %}
    <img src="https://fdnd-agency.directus.app/assets/{{ house.poster_image.id }}" alt="Afbeelding van het huis" width="350" height="350">
  {% endif %} {% endcomment %}
    
  {% for item in house.gallery %}
   <img src="https://fdnd-agency.directus.app/assets/{{ item.directus_files_id }}" width="450">
  {% endfor %}

  </li>

</ul>



<section class="huis-info">
<h1>{{ house.street }} {{ house.house_nr }}</h1>
<p> {{ house.postal_code }} {{ house.city }}</p>
<p>{{ house.m2 }} wonen {{ house.m2garden }} tuin {{ house.rooms }} slaapkamers</p>
<p> € {{ house.price }} k.k. </p>


<h2>Omschrijving</h2>
<p>{{ house.description | raw }}</p>



</section>

{% comment %} <p> description: {{ housesResponse.description }} </p> {% endcomment %}

{% endblock %}

